<div class="resources-layout">

  <div class="resources-content">


    <app-table
        #tableComponent
        [dataRetrievalMethodRef]="this.getDataForTableComponent"
        [filterText]="filterText"
        [columns]="columns"
        [actionButton]="actionButton"
        (mainColumnRowClick)="openResource($event)"
        (actionButtonClick)="showCreateModal = true">
    </app-table>
  </div>

  <!-- Form Modal -->
  <app-resources-create
    *ngIf="showCreateModal"
    (close)="closeCreateModal()">
  </app-resources-create>
</div>
