<div class="strategies-layout">
  <div class="strategies-content">
    <!-- Breadcrumb -->
    <app-breadcrumb></app-breadcrumb>

    <!-- Header -->
    <div class="page-header">
      <h1>Estratégias</h1>
      <p>Gerencie o cadastro da estratégia, crie cenários, avalie projetos e os vincule a portfólios.</p>
    </div>
    <app-table
        #tableComponent
        [dataRetrievalMethodRef]="this.getDataForTableComponent"
        [filterButtons]="filterButtons"
        [filterText]="filterText"
        [columns]="columns"
        [actionButton]="actionButton"
        (actionButtonClick)="openCreateModal()"
        (mainColumnRowClick)="onStrategyClick($event)">
    </app-table>

  </div>
</div>

<!-- Modal de Criação -->
<app-form-modal-component
  [isVisible]="showCreateModal"
  [config]="createStrategyConfig"
  (save)="onSaveStrategy($event)"
  (close)="closeCreateModal()"
  (cancel)="closeCreateModal()">
</app-form-modal-component>
