<div class="projects-layout">

  <div class="projects-content">
    <!-- Breadcrumb -->
    <app-breadcrumb></app-breadcrumb>

    <!-- Header -->
    <div class="page-header">
      <h1>Projetos</h1>
      <p>Gerencie os projetos da organização.</p>
    </div>
    <app-table
        [dataRetrievalMethodRef]="this.getDataForTableComponent"
        [filterButtons]="filterButtons"
        [filterText]="filterText"
        [columns]="columns"
        [actionButton]="actionButton"
        (actionButtonClick)="openCreateModal()"
        (mainColumnRowClick)="onProjectClick($event)">
    </app-table>
  </div>

  <!-- Form Modal -->
  <app-form-modal-component
    [isVisible]="showCreateModal"
    [config]="createProjectConfig"
    (close)="closeCreateModal()"
    (save)="onSaveProject($event)"
    (cancel)="closeCreateModal()">
  </app-form-modal-component>
</div>
