<!-- Filter buttons -->
<app-table-filter-buttons *ngIf="filterButtons.length" [queryParams]="queryParams" [filterButtons]="filterButtons"
    (filterButtonClick)="sendHttpGetRequestAndPopulateTable()">
</app-table-filter-buttons>

<!-- Action button and text filter -->
<app-table-action-text-filter [queryParams]="queryParams" [filterText]="filterText" [actionButton]="actionButton"
    (filterTextInput)="sendHttpGetRequestAndPopulateTable()" (actionButtonClick)="actionButtonClick.emit()">
</app-table-action-text-filter>

<!-- Table -->
<app-card class="table-card">
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th *ngFor="let column of getDesiredAndExistingColumnsToPrint()" (click)="onColumnHeaderClick(column)"
                        [class.sortable]="column.isSortable" [class.sorted]="isColumnCurrentlySorted(column)">
                        <div class="header-cell">
                            {{ column.label }}
                            <app-svg-icon *ngIf="column.isSortable" class="nav-icon" [path]="getSortIconPath(column)"
                                [size]="18">
                            </app-svg-icon>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <!-- Variável "row" será do tipo 'Usuario' se o service retorna usuários paginados, por exemplo. -->
                <tr *ngFor="let row of page?.content" class="table-row">
                    <td *ngFor="let attributeName of getDesiredAndExistingAttributeNamesToPrint(); let colIdx = index">
                        <ng-container *ngIf="isClickableMainColumn(attributeName); else badgeStyle">
                            <button class="link" (click)="mainColumnRowClick.emit(row);">
                                {{ getCellValue(row, columns[colIdx]) }}
                            </button>
                        </ng-container>
                        <ng-template #badgeStyle>
                            <app-badge *ngIf="hasBadgeStyle(attributeName); else rowValueHasNoStyle"
                                [color]="getBadgeColor(row, attributeName)">
                                {{ getCellValue(row, columns[colIdx]) }}
                            </app-badge>
                        </ng-template>
                        <ng-template #rowValueHasNoStyle>{{ getCellValue(row, columns[colIdx]) }}</ng-template>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</app-card>

<!-- Pagination -->
<app-table-pagination [page]="page" [queryParams]="queryParams"
    (paginationChange)="sendHttpGetRequestAndPopulateTable()">
</app-table-pagination>
