<!-- Filter buttons -->
<app-table-filter-buttons *ngIf="filterButtons.length" [queryParams]="queryParams" [filterButtons]="filterButtons" 
    (filterButtonClick)="sendHttpGetRequestAndPopulateTable()">
</app-table-filter-buttons>

<!-- Action button and text filter -->
<app-table-action-text-filter [queryParams]="queryParams" [filterText]="filterText" [actionButton]="actionButton"
    (filterTextInput)="sendHttpGetRequestAndPopulateTable()" (actionButtonClick)="actionButtonClick.emit()">
</app-table-action-text-filter>

<!-- Table -->
<app-card class="table-card">
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th *ngFor="let column of getDesiredAndExistingColumnsToPrint()" (click)="onColumnHeaderClick(column)"
                        [class.sortable]="column.isSortable" [class.sorted]="isColumnCurrentlySorted(column)">
                        <div class="header-cell">
                            {{ column.label }}
                            <app-svg-icon *ngIf="column.isSortable" class="nav-icon" [path]="getSortIconPath(column)"
                                [size]="18">
                            </app-svg-icon>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <!-- Variável "row" será do tipo 'Usuario' se o service retorna usuários paginados, por exemplo. -->
                <tr *ngFor="let row of page?.content" class="table-row">
                    <td *ngFor="let attributeName of getDesiredAndExistingAttributeNamesToPrint()">
                        <span *ngIf="isClickableMainColumn(attributeName); else selectWithBadge">
                            <button class="link" (click)="mainColumnRowClick.emit(row);">
                                {{ row[attributeName] }}
                            </button>
                        </span>
                        <ng-template #selectWithBadge>
                            <app-badge *ngIf="hasBadgeStyle(attributeName) && isSelectButton(attributeName); else selectWithoutBadge"
                                [color]="getBadgeColor(row, attributeName)">
                                <select class="select-no-style"
                                    [disabled]="getSelectButtonDisabled(row, attributeName)"
                                    (change)="onChangeSelectedValue($event, row, attributeName)">
                                    <option class="option-no-style" *ngFor="let option of getSelectButtonOptions(row, attributeName)"
                                        [value]="option.value" [hidden]="option.hidden" 
                                        [selected]="getSelectButtonValue(row, attributeName) == option.value">
                                        {{ option.label }}
                                    </option>
                                </select>
                            </app-badge>
                        </ng-template>
                        <ng-template #selectWithoutBadge>
                            <select *ngIf="isSelectButton(attributeName); else badge"
                                class="select-with-style"
                                [disabled]="getSelectButtonDisabled(row, attributeName)"
                                (change)="onChangeSelectedValue($event, row, attributeName)">
                                <option *ngFor="let option of getSelectButtonOptions(row, attributeName)"
                                    [value]="option.value" [hidden]="option.hidden"
                                    [selected]="getSelectButtonValue(row, attributeName) == option.value">
                                    {{ option.label }}
                                </option>
                            </select>
                        </ng-template>
                        <ng-template #badge>
                            <app-badge *ngIf="hasBadgeStyle(attributeName); else noBadge"
                                [color]="getBadgeColor(row, attributeName)">
                                {{ row[attributeName] }}
                            </app-badge>
                        </ng-template>

                        <ng-template #noBadge>{{ row[attributeName] }}</ng-template>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</app-card>

<!-- Pagination -->
<app-table-pagination [page]="page" [queryParams]="queryParams" 
    (paginationChange)="sendHttpGetRequestAndPopulateTable()">
</app-table-pagination>