<div class="strategy-detail-layout">

    <div class="strategy-detail-content">
        <app-breadcrumb></app-breadcrumb>

        <app-page-header [title]="name" [description]="description" [statusBadge]="statusBadge"
            [goBackButtonPathToNavigate]="goBackButtonPathToNavigate" [visibleActionButtons]="visibleActionButtons"
            [lastUpdate]="lastUpdate" [extraKeyValuePairInfos]="extraKeyValuePairInfos"
            (editClick)="isScenarioEditModalVisible = true" (deleteClick)="isScenarioDeleteModalVisible = true"
            (cancelClick)="isScenarioCancelModalVisible = true">
        </app-page-header>

        <!-- Tabs -->
        <div class="tab-content">
            <h3>Balanceamento do cenário</h3>
            <p class="tab-description">
                Inclua ou remova projetos do cenário, defina suas categorias e ajuste o orçamento. Ao finalizar,
                autorize para vinculá-los ao portfólio de destino.
            </p>

            <div class="budget-block">
                <div class="form-group">
                    <label>Orçamento disponível (R$)<span *ngIf="!cancelAllActions" class="required-asterisk">*</span>
                        <app-tooltip
                            text="Permite a inclusão automática de projetos com maior valor estratégico, considerando este limite orçamentário."></app-tooltip>
                    </label>
                    <div class="input-with-info">
                        <input id="budget" type="text" [(ngModel)]="budget" (focus)="onBudgetClick()"
                            (keydown)="onBudgetKeyDown($event)" maxlength="17" autocomplete="off" placeholder="0,00"
                            [disabled]="cancelAllActions" />
                        <p class="info-text">Controla a inclusão/remoção automática.</p>
                    </div>
                </div>

                <div class="budget-info">
                    <div>Orçamento de todos projetos: <b>R$ {{ allProjectsBudget }}</b></div>
                    <div>Orçamento dos projetos incluídos: <b>R$ {{ allIncludedProjectsBudget }}</b></div>
                </div>
            </div>

            <app-table [dataRetrievalMethodRef]="this.getDataForTableComponent" [filterText]="filterText"
                [columns]="columns" [actionButton]="actionButton" (selectChange)="onSelectChange($event)"
                (actionButtonClick)="isScenarioAuthorizationModalVisible = true" (selectClick)="onSelectClick($event)">
            </app-table>
        </div>
    </div>
</div>
<app-scenario-edit-modal [isVisible]="isScenarioEditModalVisible" (close)="onCloseEditModal()"
    (cancel)="isScenarioEditModalVisible = false">
</app-scenario-edit-modal>

<app-scenario-delete-modal [isVisible]="isScenarioDeleteModalVisible" (close)="isScenarioDeleteModalVisible = false"
    (cancel)="isScenarioDeleteModalVisible = false">
</app-scenario-delete-modal>

<app-warning-information-modal *ngIf="isBudgetWarningVisible" (close)="onWarningInformationModalClose()"
    text="Ao alterar o orçamento, todas as inclusões de projetos serão recalculadas, desfazendo alterações manuais.">
</app-warning-information-modal>

<app-warning-information-modal *ngIf="isCategoryWarningVisible" (close)="isCategoryWarningVisible = false"
    text="Não há categorias para seleção." closeButtonLabel="Voltar para o cenário">
    <p class="aviso-paragrafo">
        <a class="link-portfolio" [routerLink]="`/portfolio/${scenarioDTO?.portfolio?.id}`">Clique aqui</a>
        para acessar o portfólio <i>{{ scenarioDTO?.portfolio?.name }}</i> e cadastre pelo menos uma categoria.
    </p>
</app-warning-information-modal>

<app-cancel-scenario-modal *ngIf="isScenarioCancelModalVisible" (scenarioCancelled)="onScenarioCancelled()"
    (close)="isScenarioCancelModalVisible = false">
</app-cancel-scenario-modal>

<app-scenario-authorization-modal *ngIf="isScenarioAuthorizationModalVisible"
    (scenarioAuthorized)="loadScenarioByIdAndStrategyByIdAndSetupBreadcrumbs(); this.isScenarioAuthorizationModalVisible = false;"
    (close)="isScenarioAuthorizationModalVisible = false">
</app-scenario-authorization-modal>