<div class="tab-panel">
    <h3>Plano de comunicação do portfólio</h3>

    <div class="comm-tabs-list">
        <button class="comm-tab-trigger" [class.active]="activeTab === 'plan'" (click)="activeTab = 'plan'">
            Eventos
        </button>
        <button class="comm-tab-trigger" [class.active]="activeTab === 'stakeholders'" (click)="activeTab = 'stakeholders'">
            Partes interessadas
        </button>
        <button class="comm-tab-trigger" [class.active]="activeTab === 'repository'" (click)="activeTab = 'repository'">
            Armazenamento
        </button>
    </div>

    <app-portfolio-communication-tab-plan *ngIf="activeTab === 'plan'"></app-portfolio-communication-tab-plan>
    <app-portfolio-communication-tab-repository *ngIf="activeTab === 'repository'"></app-portfolio-communication-tab-repository>
    <app-portfolio-communication-tab-stakeholders *ngIf="activeTab === 'stakeholders'"></app-portfolio-communication-tab-stakeholders>
</div>