

  <div class="strategy-detail-layout">

    <div class="strategy-detail-content">
      <app-breadcrumb></app-breadcrumb>

    <div class="strategy-header">
      <div class="header-top">
        <button class="back-btn" (click)="goBack()">
          <app-svg-icon
            class="nav-icon"
            [path]="'assets/icon/voltar_vetor.svg'"
            [size]="18">
          </app-svg-icon>
        </button>
        <h1>{{criteriaGroup?.name}}</h1>
        <app-badge *ngIf="criteriaGroup" [color]="getStatusColorByDisabled(criteriaGroup.status)">{{getStatusLabelByDisabled(criteriaGroup.status)}}</app-badge>
      </div>
      <p class="strategy-description">{{criteriaGroup?.description}}</p>
      <div class="action-header">
        <div class="action-buttons">
          <button class="action-btn" (click)="editCriteriaGroup()">
            <i class="icon-edit"></i>
            Editar
          </button>
          <button class="action-btn delete" (click)="deleteCriteriaGroup()">
            <i class="icon-cancel"></i>
            Excluir
          </button>
          <!--
            <button class="action-btn delete" (click)="deleteCriteriaGroup()">
              <i class="icon-delete"></i>
              Excluir
            </button>
            -->
        </div>

         <div class="last-update">
            Última alteração realizada em {{criteriaGroup?.lastModifiedAt | date: 'dd/MM/yyyy HH:mm'}}.
        </div>
      </div>
    </div>

      <div class="tab-content">
          <h3>Critérios do grupo</h3>
          <p class="tab-description">
            Cadastre os critérios deste grupo. Com base neles serão criados os critérios de avaliação.
          </p>

          <app-table
            #tableComponent
            [dataRetrievalMethodRef]="getDataForCriteriaTable"
            [filterButtons]="criterionFilterButtons"
            [filterText]="criterionFilterText"
            [columns]="criterionColumns"
            [actionButton]="criterionActionButton"
            (actionButtonClick)="openCreateModal()"
            (mainColumnRowClick)="openCriteria($event)">
          </app-table>



        </div>
      </div>


  <app-form-modal-component
    [isVisible]="showCreateModal"
    [config]="createFormConfig"
    (close)="closeCreateModal()"
    (save)="onSaveByActiveTab($event)"
    (cancel)="closeCreateModal()">
  </app-form-modal-component>
  <app-form-modal-component
    [isVisible]="showEditModal"
    [config]="editFormConfig"
    (close)="closeEditModal()"
    (save)="onSaveByActiveTab($event)"
    (cancel)="closeEditModal()">
  </app-form-modal-component>
</div>


