<div class="tabs-list">
    <button class="tab-trigger" [class.active]="activeTab === 'about'" 
        (click)="activeTab = 'about'; change.emit('about')">
        <app-svg-icon class="nav-icon" [path]="'assets/icon/resumo_vetor.svg'" [size]="18">
        </app-svg-icon>
        Sobre o evento
    </button>
    <button class="tab-trigger" [class.active]="activeTab === 'participants'" 
        (click)="activeTab = 'participants'; change.emit('participants')">
        <app-svg-icon class="nav-icon" [path]="'assets/icon/assignment_projetos_vetor.svg'" [size]="18">
        </app-svg-icon>
        Participantes
    </button>
</div>