<div class="resources-layout">

  <div class="resources-content">

    <h1>Pedidos de recursos</h1>
    <p class="description" [ngClass]="{ 'no-margin-bottom': authService.roleFrontend != role.PROJECT_MANAGER  }">
        Listagem de recursos solicitados para projetos.
    </p>
    <p *ngIf="authService.roleFrontend != role.PROJECT_MANAGER" class="description">
        Clique em um item da coluna <b>Cargo</b> para gerenciar o pedido ou alocação.
    </p>
  <app-table
        #tableComponent
        [dataRetrievalMethodRef]="this.getDataForTableComponent"
        [filterButtons]="filterButtons"
        [filterText]="filterText"
        [columns]="columns"
        [actionButton]="actionButton"
        (mainColumnRowClick)="handleMainColumnClick($event)"
        (actionButtonClick)="showCreateModal = true">
    </app-table>
  </div>

  <!-- Form Modal -->
  <app-resources-allocation-request
    *ngIf="showCreateModal"
    (close)="closeCreateModal()">
  </app-resources-allocation-request>

  <app-resources-allocation-create
    *ngIf="showAllocationModal"
    (close)="closeAllocationModal()"
    [allocationRequestId]="this.selectedAllocationRequestId">
  </app-resources-allocation-create>
</div>
