<div class="resources-layout">

  <div class="resources-content">


    <app-table
        [dataRetrievalMethodRef]="this.getDataForTableComponent"
        [filterText]="filterText"
        [columns]="columns"
        [actionButton]="actionButton"
        (mainColumnRowClick)="openPosition($event)"
        (actionButtonClick)="showCreateModal = true">
    </app-table>
  </div>

  <!-- Form Modal -->
  <app-form-modal-component
    [isVisible]="showCreateModal"
    [config]="createProjectConfig"
    (close)="closeCreateModal()"
    (save)="onSavePosition($event)"
    (cancel)="closeCreateModal()">
  </app-form-modal-component>
</div>
